body{
    background-color: rgb(102, 140, 190)
}
#izq{
    background-color: rgb(102, 140, 190);
    height: 100vh;
    color: rgb(222, 229, 231)
}

.card-bodyL{
    background-color: rgba(6, 30, 61, 0.385);
    border-radius: 25px;
    height: 100vh;
    padding-top: 50%;
    
}

#logoClima{
    width: 180px;
}

.temp{
    font-size: 56px;
}

.hoy{
    margin: 5%;
    justify-content: center;
}

#tarjetita{
    background-color: rgba(0, 0, 0, 0.164);
    padding: 18px;
    color: wheat
}

.indivi{
    background-color: rgba(0, 0, 0, 0.164);
    margin: 4%;
    padding: 18px;
    color: wheat

}

.rowa{
    
    justify-content: center;
}











